<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand fas fa-code fa-3x" style="color: #000000;" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{site.url}}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ site.url }}/posts">Post</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ site.url }}/categories">Category</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ site.url }}/about">About</a>
              </li>
          </ul>
        </div>
      </nav>
</header>